@use '../../shared/variables' as *;

.header {
    box-sizing: content-box;
    margin: 0;
    padding: 10px 0px;
    
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;

    background-color: darkcyan;
    background-image: linear-gradient(-190deg, #0D1321 ,#1D2D44);
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;

    //*{outline: 1px solid green;}

    .brand{
        margin-left: 3rem;
    }


    nav {
        display: flex;
        
        //padding: 10px;
        font-size: 1rem;

        a {
            padding: 10px 10px;
            transition: all .3s ease-in-out;
            
            &:hover {
                color: #279af1;
            }
        }
    }

    .menu{
        display: none;
        opacity: 0;
    }

    @include lt-sm {
        flex-direction: column;
        align-items: center;
        padding: 0;
        
        

        .brand{
            margin-left: 0;
            padding-left: 0;
            background-color: rgba(0,0,0,.26);
            width: 100%;
            text-align: center;
            padding: 10px 0; 
        }

        nav{
            visibility: hidden;
            opacity: 0;
            height: 0;
            
        }

        nav[show]{
            transition: all .3 ease-in-out;
            display: flex;
            visibility: visible;
            opacity: 1;
            position: absolute;
            top: 50px;
            right: 10px;

            font-size: 14px;
            font-weight: bold;
            
            
            flex-direction: column;
            align-items: center;

            a{
                margin: 2px 0;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                background-color: #279AF1e1;
                border-radius: 20px;
                color: #f7f7ff;
                
                
                //padding: 8px;

                width: 100%;
                text-align: center;

                &:hover {
                    color: #1D2D44;
                }
            }
        }
        .menu{
            position: absolute;
            top: 2px;
            right: 10px;
            padding: 4px;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            background-color: #279af1;
            cursor: pointer;
            opacity: 1;
            
    
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            .bar1, .bar2, .bar3 {
                width: 30px;
                height: 5px;
                border-radius: 4px;
                background-color: #333;
    
              }
        }
    }
}