@use '../../shared/variables' as *;
.homeContainer{
    margin: 0 20vw;

    color: #f7f7ff;



    .cardImage{
        display: flex;
        justify-content: center;
        img{
            width: 250px;
            
            filter: drop-shadow(5px 5px 5px rgba(0,0,0,.4));
            
        }
    }


    h1{
        text-align: center;
        font-size: 42px;
        font-weight: 400;
        padding: 5px;
    }
    h2{
        font-size: 30px;
        font-weight: 300;

    }

    p{
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
    }
    #flashcards{
        color: #279af1;
    }
    @include lt-md{
        margin: 0 15vw;
    }
    @include lt-sm{
        margin: 0 10vw;
    }
    @include xs{
        margin: 0 5vw;
    }
}