@use '../../shared/variables' as *;
.homeContainer{
    margin: 0 20vw;
    padding: 6vw;
    
    .main-header{
        h1,span{
            margin:0;
        }
        h1{
            font-size:3.3rem;
            margin-top: .2rem;
            margin-bottom: .4rem;
        }
        span{
            font-size: 1.3rem;
            color: #525960
        }
        margin-bottom: 5rem;
    }
    .corevalues{
        
        .values{
            display: flex;
            justify-content: center;
            @include lt-sm{
                flex-direction: column;
            }

            div{

                padding: 12px;
                flex-wrap: wrap;

            }
        }
    }



    .title-line{
        text-align: center;
        position: relative;
        &>:first-child{
            position: relative;
            background-color: #f7f7ff;
            z-index: 30;
            padding-left: 32px;
            padding-right: 32px;
        }
        &>:nth-child(2){

            width: 100%;
            display: block;
            position: absolute;
            top: 50%;
            border-top: solid 1px #ddd;
        }
    }
    #flashcards{
        color: #279af1;
    }
    @include lt-md{
        margin: 0 15vw;
    }
    @include lt-sm{
        margin: 0 10vw;
    }
    @include xs{
        margin: 0 5vw;
    }
}